:root {
  --main-grey-color: #232427;
  --main-light-grey-color: #f5f5f5;
  --main-blue-color: #0069d9;
  --profile-header-color: #505050;
  --tag-color-1: #3be8b0;
  --tag-color-2: #1aafd0;
  --tag-color-3: #6a67ce;
  --tag-color-4: #ffb900;
  --tag-color-5: #fc636b;
  --tag-color-6: #a0c186;
  --tag-color-7: #f0d3f7;
  --tag-color-8: #fe7f2d;
}

.navbar--background-color {
  background-color: var(--main-grey-color) !important;
}

.nav-link:hover {
  color: white !important;
}

.clear {
  clear: both;
}

.sign-up-prompt {
  text-align: center;
  font-size: 1rem;
}

.card--login-and-register-modal-adjustment {
  top: 10rem;
  border-radius: 5px;
}

#showcase {
  background-image: url("./images/showcase_background_pexels_02.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.profile__header {
  background-color: var(--main-light-grey-color);
  height: 250px;
}

.profile__profile-picture {
  height: 120px;
}

.section__name {
  font-size: 2rem;
  font-weight: 400;
}

.profile__initialize-profile-msg {
  font-size: 1.5rem;
}

.profile__initialize-profile-btn {
  border-radius: 25px;
  min-width: 150px;
  width: 20%;
  margin-top: 15px;
}

.card-title--font-size {
  font-size: 2.2rem;
}

.input-group-text--fixed-width {
  width: 45px;
}

.profile__section {
  min-height: 200px;
  background-color: white;
  padding: 25px;
  border-radius: 4px;
  border: 1px solid lightgrey;
}

.profile__section--general-information {
  min-height: 250px;
}

.section__heading {
  font-size: 1.3rem;
  font-weight: unset;
  display: inline-block;
}

.profile__body {
  background-color: var(--main-light-grey-color);
  min-height: 100vh;
  padding: 25px 0px;
}

.profile__section--top {
  position: relative;
  top: -100px;
  margin-bottom: -35px;
  clear: both;
}

.profile__edit-icon {
  font-size: 18px;
  float: right;
  color: var(--main-blue-color);
  padding: 0px 10px;
}

.section__add-entry-icon {
  font-size: 18px;
  float: right;
  color: var(--main-blue-color);
  padding: 0px 10px;
}

.loading-icon {
  width: 110px;
}

.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  position: fixed;
  top: 0;
  z-index: 1000;
  display: block;
}

.modal__content {
  min-width: 300px;
  max-width: 700px;
  background-color: white;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  max-height: calc(100vh - 140px);
  overflow-y: auto;
}

.modal__content--discard_changes {
  max-width: 500px;
  margin-top: 175px;
}

.modal__exit-icon {
  font-size: 18px;
  float: right;
  color: var(--main-grey-color);
  padding: 0px 10px;
  margin-right: -10px;
}

.modal__exit-icon:hover {
  color: var(--main-grey-color);
  text-decoration: none;
}

.required-asterisk {
  color: var(--main-blue-color);
  font-size: 18px;
  font-weight: 600;
}

.profile__add-section-btn {
  position: relative;
  float: right;
  top: -120px;
}

.remove-anchor-style {
  color: unset !important;
  text-decoration: none !important;
}

.section__skill {
  font-weight: 500;
}

.section__interests {
  font-weight: 500;
}

.list-group-item__title {
  font-size: 1.2rem;
}

.list-group-item__subheading {
  font-size: 1rem;
  font-weight: unset;
}

.edit-entry-icon {
  font-size: 18px;
  color: var(--main-blue-color);
  margin-bottom: 15px;
}

.section__connect-icon {
  font-size: 1.8rem;
  color: var(--main-grey-color);
  padding: 15px;
}

.section__connect-icon:hover {
  color: var(--main-blue-color);
}

.profile__section--connect {
  min-height: 0px;
}

.btn-outline-secondary--match-input-group-border-color {
  border-color: #ced4da;
}

.connect-icon-padding-compensation {
  margin-left: 0px;
}

.section__subheading {
  font-weight: 400;
}

.section__subheading--header {
  font-size: 1.4rem;
}

.section__subheading--location {
  font-size: 1.1rem;
}

.container--left-padding-compensation {
  margin-left: -15px;
}

.profile__edit-icon--right-padding-compensation {
  margin-right: -30px;
}

.status-tag {
  background-color: var(--tag-color-1);
  display: inline-block;
  padding: 5px;
  border-radius: 20px;
  min-width: 100px;
  text-align: center;
  margin-top: 30px;
}

.status-tag__content {
  font-size: 1rem;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
}

.profile__edit-profile-picture-button {
  position: absolute;
  left: 75px;
  top: 90px;
  font-size: 1.2rem;
}

.profile__edit-profile-picture-button:focus {
  outline: none;
}

.edit-picture-button__backdrop {
  color: #2b57ff;
}

.edit-picture-button__icon {
  color: white;
}

.modal__content--edit-profile-picture {
  max-width: 800px;
}

.profile-picture-editor {
  width: 100%;
  min-height: 350px;
  padding: 50px 0px;
  text-align: center;
}

.profile-picture-editor__upload-information {
  width: 60%;
}

.upload-information__attribute-name {
  font-weight: 500;
}

.profile-picture-editor__upload-photo-message {
  min-height: 350px;
  margin-top: -50px;
  margin-bottom: -50px;
}

.profile-picture-editor__upload-photo-message:focus {
  outline: 0px;
}

.profile-picture-editor__upload-photo-message:hover {
  background-color: #e0e0e0;
  transition: background-color 0.2s linear;
}

.upload-photo-message__icon {
  font-size: 3rem;
  margin-top: 135px;
  margin-bottom: 15px;
}

.profile-picture-editor__zoom-selector {
  margin-top: 35px;
}

.zoom-selector__zoom-out-button {
  font-size: 1em;
  display: inline-block;
  margin-right: 1em;
}

.zoom-selector__zoom-in-button {
  font-size: 1em;
  display: inline-block;
  margin-left: 1em;
}

.zoom-selector__slider-container {
  width: 55%;
  display: inline-block;
  position: relative;
  top: -0.3em;
}

.slider-container__slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background: var(--profile-header-color);
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider-container__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
}

.slider-container__slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
}

.profile-picture-editor__remove-image-button {
  font-size: 1.7rem;
  float: right;
  margin-right: 1.25rem;
  margin-top: 35px;
  padding: 0rem 1rem;
}

.profile__edit-cover-image-button {
  font-size: 1.2rem;
  float: right;
  margin-right: 25px;
  margin-top: 25px;
  padding: 0px 10px;
}

.profile__edit-cover-image-button:focus {
  outline: 0px;
}

.profile__cover-image-overlay {
  width: 100%;
  height: 100%;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-x: center;
}

.profile__cover-image-header {
  height: 400px;
  background-color: var(--profile-header-color);
}

.explore__header {
  height: 250px;
}

.explore__body {
  min-height: 100vh;
  padding: 25px 0px;
}

.user-card {
  min-height: 150px;
  border-bottom: 1px solid lightgrey;
  padding: 15px;
}

.user-card__profile-picture {
  height: 120px;
}

.user-card__name {
  font-size: 2rem;
  font-weight: 500;
}

.user-card__location {
  font-size: 1rem;
  font-weight: 400;
  color: grey;
}

.user-card__header {
  font-size: 1.2rem;
  font-weight: 400;
}

.user-card__connect-icon {
  font-size: 1.5rem;
  color: var(--main-grey-color);
  padding: 15px;
}

.user-card:hover {
  background-color: #d3d3d32b;
  transition: background-color 0.2s linear;
}

.fs-1_5-rem {
  font-size: 1.5rem;
}

.react-paginate {
  margin: 150px 0px 80px;
}

.quill {
  margin-bottom: 1rem;
}

.ql-container {
  font-family: inherit !important;
  font-size: inherit !important;
  color: #495057;
}

.ql-editor {
  height: 150px !important;
}

.ql-indent-1 {
  margin-left: 20px;
}

.ql-indent-2 {
  margin-left: 40px;
}

.ql-indent-3 {
  margin-left: 60px;
}

.list-group-item__description {
  margin-top: 20px;
}

.list-group-item__description ul {
  list-style-type: disc;
}

.list-group-item__description p {
  margin-bottom: 0px;
}

.quill.quill--about .ql-editor {
  height: 250px !important;
}

@media (min-width: 576px) {
  .connect-icon-padding-compensation {
    margin-left: -15px;
  }

  .user-card__profile-picture {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 120px;
  }
}
